@font-face{
    font-family: 'Hero';
    src: url('assets/Hero/HeroLight-Regular.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'HeroBold';
    src: url('assets/Hero/HeroLight-Bold.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: 'Hero', sans-serif;
    font-weight: 400;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding:20px;
    max-width:45%;
}

.title{
    display:block;
    width: 50%
    margin-left:auto;
    margin-right:auto;
    margin-top:70px;
    margin-bottom:70px;
}

.visual{
    display:block;
    border-radius: 5px;
    margin-left:auto;
    margin-right:auto;
    height: auto;
    width:60%;
}