@font-face {
    font-family: 'Hero';
    src: url('assets/Hero/HeroLight-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hero';
    src: url('assets/Hero/HeroLight-Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

body, html {
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.scroll {
    overflow-y: auto;
    height: calc(100vh - 50px)
}

.container {
    width:1000px;
    max-width:100vw;
    margin:auto;
    padding-left: 100px;
    padding-right:100px;
    padding-top: 24px;
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    align-items: left;
}

.sub {
    color: grey;
    font-size: 12px;
    font-weight: 600;
    margin-left: 20px;
}

.visual img {
    width: 800px;
    max-width: calc(100vw - 200px);
    border-radius: 4px;
    border: 1px lightgrey solid;
}

.visual {
    position: relative;
}

.after::after, .before::before {
    content: "";
    display: block;
    width: calc(100% + 30px);
    height: 1px;
    background: rgba(0,0,0,0.1);;
    margin-left: -15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav {
    font-size: 18px;
    width: 100vw;
    left: 0;
    top: 0;
    background: white;
    z-index: 10000;
    height: 56px;
    border-bottom:1px solid rgba(0,0,0,0.1);
    flex-flow: row nowrap;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    user-select: none;
}

.footer {
    font-size: 12px;
    text-align: center;
    flex-flow: column wrap;
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer ion-icon {
    font-size: 40px;
    margin-left: 50%;
    margin-right: 50%;
}

.logo {
    display: flex;
    flex-flow: row nowrap;
    font-weight: 400;
    font-family: 'Hero';
    font-size: 30px;
}

@media only screen and (max-width:1020px) {
    .tagline {
        display: none;
    }
}

.tagline {
    display:inline-block;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Hero';
    margin-left: 50px;
}

.buttons {
    display:flex;
    flex-flow: row nowrap;
    height:100%;
    margin-right: 20px;
}

.navlink {
    display: flex;
    flex-flow: row;
    background-color: white;
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
}

.navlink:hover{
    background-color: lightgrey;
    cursor: pointer;
}

.navlink:last-child {

}

a {
    color: black;
}

input[type=checkbox]{
    margin-left: 20px;
}

label {
    padding-left:12px;
}

input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
    color: grey;
}