@font-face{
    font-family: 'Hero';
    src: url('assets/Hero/HeroLight-Regular.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'HeroBold';
    src: url('assets/Hero/HeroLight-Bold.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: 'Hero', sans-serif;
    font-weight: 400;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding:20px;
    max-width:55%;
}

.visual{
    border-radius: 5px;
    margin:auto;
    height: auto;
    width:70%;
}
